<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - LexNobilis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="blog-container">
        <h2>Articles de la semaine</h2>
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <h3>{{ article.title }}</h3>
                    <img src="{{ url_for('static', filename='image/' ~ article.image) }}" alt="{{ article.title }}" class="article-image">
                    <p>{{ article.description }}</p>
                    <a href="{{ url_for('article', article_id=article.id) }}">Lire plus</a>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('home') }}"><button>Retour au Menu Principal</button></a>
    </div>
</body>
</html>