<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation d'Inscription - LexNobilis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="confirmation-container">
        <h2>Compte Créé avec Succès</h2>
        <p>Merci de vous être inscrit ! Votre compte a été créé avec succès.</p>
        <a href="{{ url_for('home') }}"><button>Retour au Menu Principal</button></a>
    </div>
</body>
</html>